body {
    padding-top: 70px;
}

html,
body {
    min-width: 300px;
    width: 100%;
}

#navbar {
    background-color: rgba(255, 255, 255, 0.9);
    background-image: none;
}

.main-container {
    margin-top: 400px;
    display: grid;
}

.elements-container {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.element {
    font-size: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.element-container {
    display: table;

    width: 50px;
    height: 50px;

    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 50%;


    margin: 10px;
    position: relative;

    animation-name: none;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.navbar-brand {
    display: flex;
}